<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Heineken Music Player - github.com/codenoid</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <!-- Wave bg-->
        <div class="wave-container">
            <div class="wave -one"></div>
            <div class="wave -two"></div>
            <div class="wave -three"></div>
        </div>
        <div class="line"></div>
        <div class="text-wrap">
            <div class="text"><span>L</span><span>I</span><span>S</span><span>T</span><span>E</span><span>N</span>
                <div class="main-btn_wrapper"><i class="main-btn fa fa-play" aria-hidden="true"></i></div>
            </div>
        </div>
        <div class="header">
            <div class="burger-wrapper">
                <div class="burger"></div>
            </div>
            <div class="logo-text">Listeners Playlist</div>
            <div class="back_btn">
                <div class="circle"></div>
                <div class="text">Back</div>
            </div>
        </div>
        <div class="nav">
            <ul class="nav_main">
                <li> <a class="nav_link" href="/">Home</a></li>
                <li> <a class="nav_link" href="#">Add Song</a></li>
            </ul>
            <div class="nav_divider"></div>
            <ul class="nav_sub">
                <li><a class="nav_link" target="_blank" href="https://codepen.io/jinnrw/pen/ggpgVe">Template Credit</a></li>
                <li><a class="nav_link" target="_blank" href="https://github.com/codenoid/heineken-music-player">App Credit</a></li>
            </ul>
        </div>
        <div class="mini-player">
            <div class="track_info_wrapper">
                <div class="track_info">
                    <div class="thumb"></div>
                    <div class="info">
                        <div class="title e">Choose Song</div>
                        <div class="artist">Artist Name</div>
                    </div>
                </div>
            </div>
            <div class="mini-player_btn_wrapper"><a href="#" onclick="refreshTracks()" title="Refresh track list"><i class="btn-prev fa fa-refresh" aria-hidden="true"></i></a>
                <i class="btn-open-player fa fa-list" aria-hidden="true"></i></div>
        </div>
        <div class="dim"></div>
        <div class="player" id="player">
            <div class="playback_wrapper">
                <div class="playback_blur"></div>
                <div class="playback_thumb"></div>
                <div class="playback_info">
                    <div class="title e">Choose Song</div>
                    <div class="artist">Artist Name</div>
                </div>
                <div class="playback_btn_wrapper">
                    <audio onended="nextMusic()" controls>
                      <source src="" type="audio/mpeg">
                    Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
            <div class="list_wrapper">
                <ul class="list" id="track-list">
                    <!-- app.js:35 goes here -->
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="/assets/index.js"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/app.js"></script>
</body>
</html>
<!-- https://codepen.io/jinnrw/pen/ggpgVe -->